/* presets */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.35s;
}
input,
textarea,
button,
select,
img,
svg,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img,
svg {
  outline: 0;
  user-select: none;
}
a,
a:active {
  text-decoration: none;
  cursor: pointer;
}
li {
  cursor: pointer;
  list-style: none;
}
button {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
}
/* css custom properties - "variables" */
body.active {
  overflow: hidden;
}
nav {
  padding: 1.4rem 2.5rem;
  position: relative;
  z-index: 50 !important;
  background-color: #fff;
}

.overflow-shadow {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.38);
  z-index: 3;
  display: none;
}
.overflow-shadow.active {
  display: unset;
}
.nav-menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  max-width: 3.2rem;
  position: relative;
  top: 0.18rem;
}
.left-menu {
  display: flex;
  align-items: center;
  gap: 0 2.6rem;
}
.left-menu > ul {
  display: flex;
  gap: 0 2rem;
}
.left-menu > ul li a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

.right-menu {
  display: flex;
  align-items: center;
}
.right-menu > a {
  margin-right: 2.2rem;
  font-weight: bold;
  color: #000;
  font-size: 0.9rem;
}
.right-menu > a i {
  margin-right: 0.6rem;
  color: #000;
  font-size: 1.3rem;
  position: relative;
  top: 0.2rem;
}
.btn-preset {
  border-radius: 100px;
  background: none;
  font-weight: bold;
  font-size: 0.85rem;
}

.right-menu-btns > button {
  padding: 0.3rem 1rem;
  border: 1px solid #000;
}
.signInBtn {
  margin-right: 1rem;
  color: #000;
}
.joinNowBtn {
  color: #fff;
  background: #000;
}
.hidden-menu {
  display: none;
}
/*#####################################*/

.first__banner {
  background: #006241;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}
.first__banner h1 {
  letter-spacing: 0.5rem;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}
.first__banner h2 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.first__banner h2 span {
  font-size: 0.6rem;
  position: relative;
  top: -0.4rem;
}
.first__banner a {
  color: #fff;
  text-decoration: underline;
  font-size: 1.5rem;
}

/*####################################"*/

.second__banner,
.third__banner,
.fourth__banner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.second__banner {
  background-color: #d4e9e2;
}
.second__banner > div,
.third__banner > div,
.fourth__banner > div {
  width: 50%;
  text-align: center;
}

.s_b__text_side,
.t_b__text_side,
.f_b__text_side {
  padding: 8rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s_b__text_side h1,
.t_b__text_side h1,
.f_b__text_side h1 {
  letter-spacing: 0.4rem;
  font-size: 3.2rem;
  line-height: 3.7rem;
  margin-bottom: 1.5rem;
  max-width: 65%;
  text-transform: uppercase;
  font-weight: 700;
}
.s_b__text_side h1 {
  color: #1e3932;
}
.s_b__text_side p,
.t_b__text_side p,
.f_b__text_side p {
  max-width: 70%;
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  font-weight: 500;
}
.s_b__text_side p {
  color: #1e3932;
}
.s_b__text_side button {
  border: 1px solid #1e3932;
  color: #1e3932;
  font-size: 1rem;
  padding: 0.35rem 1rem;
}
.s_b__img_side,
.t_b__img_side,
.f_b__img_side {
  max-width: 50%;
}
.s_b__img_side img,
.t_b__img_side img,
.f_b__img_side img {
  max-width: 100%;
}
/*#############################################*/

.third__banner {
  background-color: #d50032;
}
.t_b__text_side h1 {
  color: #fff;
}
.t_b__text_side p {
  color: #fff;
}
.t_b__text_side button {
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  padding: 0.35rem 1rem;
}
.s_b__img_side {
  max-width: 50%;
}
.s_b__img_side img {
  max-width: 100%;
}
/*#############################################*/

.fourth__banner {
  background-color: #d50032;
  flex-direction: row-reverse;
}
.f_b__text_side h1 {
  color: #fff;
}
.f_b__text_side p {
  color: #fff;
}
.f_b__text_side button {
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  padding: 0.35rem 1rem;
}
/*#############################################*/
.first__short__banner {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.first__short__banner {
  background: #d50032;
}
.first__short__banner > div {
  width: 50%;
  text-align: center;
}
.f_s__text_side {
  padding: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.f_s__text_side h1 {
  font-size: 1.5rem;
  line-height: 3.7rem;
  margin-bottom: 1.5rem;
  max-width: 65%;
  font-weight: 600;
  color: #fff;
}
.f_s__text_side p {
  max-width: 75%;
  font-size: 1.2rem;
  margin-bottom: 1.7rem;
  font-weight: 500;
}
.f_s__text_side p {
  color: #fff;
}
.f_s__text_side button {
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.95rem;
  padding: 0.35rem 1rem;
}

.f_s__img_side {
  max-width: 50%;
}
.f_s__img_side img {
  max-width: 100%;
}

/*************************************************/
.second__short__banner {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: #d4e9e2;
}
.second__short__banner > div {
  width: 50%;
  text-align: center;
}
.s_s__text_side {
  padding: 3rem 0 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s_s__text_side h1 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 1.5rem;
  max-width: 70%;
  font-weight: 600;
  color: #1e3932;
}

.s_s__text_side p {
  max-width: 70%;
  font-size: 1.2rem;
  margin-bottom: 1.7rem;
  font-weight: 500;
  color: #1e3932;
  line-height: 2rem;
}
.s_s__text_side p span {
  font-weight: 800;
}
.s_s__text_side button {
  border: 1px solid #1e3932;
  color: #1e3932;
  font-size: 0.95rem;
  padding: 0.35rem 1rem;
}

.s_s__img_side {
  max-width: 50%;
}
.s_s__img_side img {
  max-width: 100%;
}

/*#########################################*/
.notice {
  width: 100%;
  padding: 2rem 0;
}
.notice p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4rem;
}
.notice p a {
  color: #000;
  text-decoration: underline;
}

/**/
footer {
  box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  display: flex;
  flex-direction: column;
}
.footer-links {
  display: flex;
  padding: 1.5rem 0 2rem 2rem;
}
.f__link {
  margin-right: 5rem;
  max-width: 10rem;
}
.f__link .title h2 {
  font-size: 1.17rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.f__link ul li {
  color: rgba(0, 0, 0, 0.58);
  padding: 0.8rem 0;
}

.footer__bottom {
  width: 95%;
  margin: 0 auto;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 2.5rem 0;
}
.socials {
  display: flex;
  gap: 0 1rem;
  margin-bottom: 1.5rem;
}
.socials li i {
  font-size: 1.8rem;
  color: #212121;
}
.b-links {
  display: flex;
  margin-bottom: 1rem;
}
.b-links li {
  padding: 0 1.3rem;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}
.b-links li:first-child {
  padding-left: 0;
}
.b-links li:last-child {
  border: none;
}
.b-links li a {
  color: #212121;
}
.b-links li a:hover {
  text-decoration: underline;
}
#copy {
  color: rgba(0, 0, 0, 0.58);
  font-size: 0.9rem;
  font-weight: 500;
}

/*hover states */
.left-menu > ul li a:hover {
  color: #00754a;
}
.right-menu a:hover {
  color: #00754a;
}
.right-menu a:hover i {
  color: #00754a;
}
.right-menu > button:nth-child(3):hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.right-menu > button:nth-child(4):hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.first__banner a:hover {
  text-decoration: none;
}
.s_b__text_side button:hover,
.s_s__text_side button:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.t_b__text_side button:hover,
.f_b__text_side button:hover,
.f_s__text_side button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.notice p a:hover {
  text-decoration: none;
}
.f__link ul li:hover {
  color: rgba(0, 0, 0, 1);
}
.down,
.up {
  display: none;
}

/*media*/

@media (max-width: 1024px) {
  nav {
    padding: 1.4rem 1.5rem;
  }
  @media (max-width: 798px) {
    nav {
      padding: 0.8rem 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      position: relative;
      z-index: 20;
    }
  }
  .logo {
    max-width: 2.7rem;
  }
  .nav-menu-container {
    display: none;
    position: fixed;
    right: 0;
    top: 4.6rem;
    background-color: #fff;
    min-height: 100%;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 0 0 2rem;
    z-index: 5;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 2px 5px;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .nav-menu-container.active {
    display: flex;
    transform: translateX(0%);
  }
  .nav-menu-container .logo {
    display: none;
  }
  .left-menu {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }
  .left-menu > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 95%;
    gap: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
  .left-menu > ul li {
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
  }
  .left-menu > ul li:nth-child(1)::after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f054";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.7);
  }
  .left-menu > ul li a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    text-transform: none;
    font-weight: 500;
  }
  .right-menu {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem 0;
  }
  .right-menu > a {
    color: rgba(0, 0, 0, 0.85);
  }
  .right-menu > a i {
    color: rgba(0, 0, 0, 0.85);
  }
  .hidden-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .burger-nav-btn a {
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0.5rem;
  }
  .menu-btn span {
    width: 70%;
    margin: 1.8px auto !important;
    max-height: 2px;
    min-height: 2px;
    background-color: rgba(0, 0, 0, 0.58) !important;
  }

  /* end of nav */
  .first__banner h1 {
    letter-spacing: 0.4rem;
    font-size: 1.8rem;
  }
  .first__banner h2 {
    font-size: 1.3rem;
    width: 80%;
    margin: 0 auto 0.5rem auto;
  }
  .first__banner a {
    font-size: 1.1rem;
  }
  .second__banner,
  .third__banner,
  .fourth__banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .second__banner > div,
  .third__banner > div,
  .fourth__banner > div {
    width: 100%;
    text-align: center;
  }
  .s_b__img_side,
  .t_b__img_side,
  .f_b__img_side {
    max-width: 100%;
  }
  .s_b__img_side img,
  .t_b__img_side img,
  .f_b__img_side img {
    max-width: 100%;
    object-fit: cover;
  }
  .s_b__text_side,
  .t_b__text_side,
  .f_b__text_side {
    padding: 2rem 0;
  }
  .s_b__text_side h1,
  .t_b__text_side h1,
  .f_b__text_side h1 {
    letter-spacing: 0.2rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    max-width: 95%;
  }
  .s_b__text_side p,
  .t_b__text_side p,
  .f_b__text_side p {
    max-width: 90%;
    font-size: 1.1rem;
    margin-bottom: 1.7rem;
    font-weight: 500;
  }
  /****************/
  .first__short__banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .first__short__banner > div {
    width: 100%;
    text-align: center;
  }
  .f_s__img_side {
    max-width: 100%;
  }
  .f_s__text_side {
    padding: 1.5rem 0;
  }
  .f_s__text_side h1 {
    font-size: 1.4rem;
    margin-bottom: 0.1rem;
    max-width: 95%;
  }
  .f_s__text_side p {
    max-width: 92%;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1.7rem;
    font-weight: 400;
  }
  .second__short__banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .second__short__banner > div {
    width: 100%;
  }
  .s_s__img_side {
    max-width: 100%;
  }
  .s_s__text_side {
    padding: 1rem 0 1.5rem 0;
  }
  .s_s__text_side h1 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    max-width: 90%;
  }
  .s_s__text_side p {
    max-width: 90%;
    font-size: 1rem;
  }
  /*#########################################*/
  .notice p {
    width: 95%;
  }
  /**/
  .down,
  .up {
    display: unset;
  }
  .footer-links {
    flex-direction: column;
    padding: 2.5rem 0 0 1rem;
    width: 100%;
  }
  .f__link {
    min-width: 100%;
  }
  .f__link .title {
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .f__link .title span {
    position: relative;
    top: -6px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.88);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
  }
  .f__link .title span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 50%;
    transform: scale(0);
    transform-origin: center;
    transition: 0.2s ease-out;
  }
  .f__link .title span:hover::after {
    transform: scale(1);
  }
  .f__link .title span.down {
    display: flex;
  }
  .f__link .title span.up {
    display: none;
  }
  .f__link .title.active span.down {
    display: none;
  }
  .f__link .title.active span.up {
    display: flex;
  }
  .f__link .title h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    width: 100%;
  }
  .f__link ul {
    margin-bottom: 1.5rem;
    max-height: 0;
    transition: max-height 0.35s ease-out;
    overflow: hidden;
  }
  .f__link ul.active {
    max-height: 500px;
    transition: max-height 0.35s ease-in;
  }
  .f__link ul li {
    padding: 0.8rem 0;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .b-links {
    flex-direction: column;
  }
  .b-links li {
    padding: 0;
    border-right: none;
    font-size: 0.95rem;
    margin: 0.7rem 0;
    font-weight: 500;
  }
  .socials {
    flex-wrap: wrap;
  }
}
